html, body, .section, .camera {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.section {
    height: 100%;
    position: relative;
}

.camera {
    overflow: hidden;
    vertical-align: middle;
}

.camera__video {
    /*visibility: hidden;*/
}

.camera__canvas {
    width: 100%;
}

.controls {
    position: absolute;
    top: 0;
    width: 100%;
}

.controls__filter {
    margin: 20px;
    padding: 10px;
    font-size: 2em;
}